html {
    font-size: 62.5%;
}
body{
    margin: 0;
    overflow: hidden;
}
header,.btn{
    position: absolute;
    text-align: center;
    height:3.6rem;
    line-height: 3.6rem;
    font-size: 1.4rem;
    background-color: #5fc0cd;
}
header{
    top:0;
    left: 0;
    right: 0;
}
.btn{
    width: 100%;
    border: 0 none;
    color: white;
}
header a {
    padding:0 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
header h2{
    margin: 0;
    font-size: 1.6rem;
    color: white;
}
.head-left{
    float: left;
}
.head-right{
    float: right;
}
.content{
    position: absolute;
    top: 3.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eff0f4;
}
input{
    outline: none;
}
.tel,.pwd{
    left: 0;
    right: 0;
    height: 4.4rem;
    margin: 0.8rem 0;
    background-color: white;
    }
span{
    font-size:2.5rem;
    color:#eff0f4;
}
.tel span{
    position: absolute;
    top:1.5rem;
    left: 4.8rem;
}
.pwd span{
    position: absolute;
    top:6.7rem;
    left: 4.8rem;
}
.tel01,.pwd01{
    top: 4.4rem;
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    border: 0 none;
    padding-left: 7.06rem;
}
.tel01{
    background: url("../images/tel.png")no-repeat;
    background-size: 5.06rem 4.4rem;
}
.pwd01{
    background: url("../images/pwd.png")no-repeat;
    background-size: 5.06rem 4.4rem;
}
.forget{
    color: #5fc0cd;
    float: right;
    margin:4.6rem 1rem;
    text-decoration: none;
}