/*初始化*/
body, div, address, blockquote, iframe, ul, ol, dl, dt,
dd, li, dl, h1, h2, h3, h4, pre, table, caption, th, td, form,
legend, fieldset, input, button, select, textarea
{margin:0;  padding:0;font-style: normal;font:12px/22px Arial, Helvetica, sans-serif;}
ol, ul ,li{list-style: none;}
img {border: 0; vertical-align:middle;}
.content
{
    margin:0 auto;
    width: 90vw;
    background-color:#68cdd5;
}
#sign
{
    text-align: center;
}
#text
{
    width: 75vw;
    margin:0 auto;
}
p
{
    color: #ffffff;
    font-size: 15px;
    font-family:"Adobe 宋体 Std L"
    line-height: 54px;
}
.one
{
    float: left;

}