body{text-align: center;
    overflow-x:hidden;}
ul {
    list-style-type: none;

    width:66vw;
    margin: 0 auto;
    padding:0;
}
li
{
    list-style-type:none;
    float: left;
    width:20vw;
    height:20vw;
    background-color:orangered;

    border-radius:8%;
    margin:1vw;
}